@include font-face(
  Montserrat,
  '/fonts/Montserrat-Regular',
  400,
  normal,
  eot woff ttf
);
@include font-face(
  Montserrat,
  '/fonts/Montserrat-SemiBold',
  600,
  normal,
  eot woff ttf
);
@include font-face(
  Montserrat,
  '/fonts/Montserrat-Medium',
  500,
  normal,
  eot woff ttf
);

body {
  background-color: #f3f9ff !important;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol' !important;
  font-weight: 500;
  font-size: 16px;
  color: $text !important;
}

html {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: $light;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $text-light;
    border-radius: 10px;
  }
}
