$accent: #ff4100;
$accent-hoverable: #ff4545;
$accent-light: #f0c9c9;
$additional: #7410a3;
$additional-hoverable: #6405a1;
$contrast: #fcd302;
$green: #5ab655;
$text: #333;
$gray: #cccccc;
$gray-dark: #b2b2b2;
$black: #000000;
$white: #ffffff;
$border: #ededed;
